@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.bg {
  width: 100vw;
  height: 100vh;
}

.hero {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero h1 {
  font-size: clamp(40px, 7vw, 140px);
}

.hero p {
  font-size: 1.3em;
}